<section class="h-screen">
    <div class="container pt-24">
        <div class="text-amber-100">
          <h1 class="text-4xl leading-16">
            Elevate Your Home with <br>
            Stylish Furniture
          </h1>
          <p class="w-1/2 my-8">
            Explore a range of high-quality, affordable furniture designed to transform any room. Discover the perfect
            blend of style, comfort, and functionality for your space.
          </p>
          <button class="cur bg-amber-100 text-black rounded-3xl px-9 p-3 hover:transition-all duration-500 ">Shop Now</button>
        </div>
      </div>

</section>