<section id="contact" class="py-30 bg-white">
        <div class="container">
          <div class="h-text">
            <h2 class="text-5xl font-bold">
              Contact me
            </h2>
            <hr class="w-30 font-bold text-[#123] mt-2.5 h-1">
            <p class="text-gray-700 mt-6 text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </p>
          </div>

          <div class="contact-items">
            <form class="mt-12 grid gap-5">
              <div class="flex gap-4 flex-wrap md:flex-nowrap">
                <div class="w-full md:w-1/2">
                  <label for="firstName">first Name</label>
                  <input type="text" id="firstName" name="firstName" class="w-full  rounded border border-[#8b5e35] focus:outline-[#8b5e35] px-2 py-2 bg-[#8b5f3511]">
                </div>
                <div class="w-full md:w-1/2">
                  <label for="lastName">last Name</label>
                  <input type="text" id="lastName" name="lastName" class="w-full  rounded border px-2 py-2  border-[#8b5e35] focus:outline-[#8b5e35] bg-[#8b5f3511]">
                </div>
              </div>

              <div class="flex gap-4  flex-wrap md:flex-nowrap">
                <div class="w-full md:w-1/2">
                  <label for="email">Email </label>
                  <input type="email" id="email" name="email" class="w-full  rounded border px-2 py-2  border-[#8b5e35] focus:outline-[#8b5e35] bg-[#8b5f3511]">
                </div>

                <div class="w-full md:w-1/2">
                  <label for="phone">Phone </label>
                  <input type="tel" id="phone" name="phone" class="w-full  rounded border px-2 py-2  border-[#8b5e35] focus:outline-[#8b5e35] bg-[#8b5f3511]">
                </div>
              </div>

              <div>
                <label for="choose">Choose a Topic </label>
                <select id="choose" name="choose" class="w-full  rounded border px-2 py-2  border-[#8b5e35] focus:outline-[#8b5e35] bg-[#8b5f3511]">
                  <option value="" selected="">Select one..</option>
                  <option value="html">html</option>
                  <option value="css">css</option>
                  <option value="js">js</option>
                  <option value="bootstrap">bootstrap</option>
                </select>
              </div>

              <div>
                <label for="message">Message </label>
                <textarea placeholder="type message" id="message" name="message" class="w-full h-30  mt-2  rounded border  px-2 py-2 border-[#8b5e35] focus:outline-[#8b5e35] bg-[#8b5f3511]"></textarea>
              </div>

              <button class="cur cursor-pointer bg-[#2a1e02] text-white rounded-3xl px-15 p-3 hover:transition-all duration-400 w-fit">Submit</button>
            </form>
          </div>
        </div>
      </section>    
